Qus 1: Explain teh key features of Python that make it a popular choice of programming.

Python is an easy to read, user friendly and write programming language. It has many libraries saved. 

Features of Python:

1. User friendly syntax
2. Easy to read and write
3. It is a case sensitive language
4. Object oriented approach
5. It is used for programmign and software development, mathematical research, to analyze graphs and to interpret data, data visualization, etc.
6. It works on any opearting system- Linux, windows, MacOS

Qus 2: Describe the role of predefined keywords in python and provide examples of how they are used in a program.

Predefined keywords are special words that have specific meaning. These keywords cannot be used as identifiers (like variable names or function names) because they are part of Python's syntax. There are around 35 predefined keywords in Python. E.g.- if, elif, else, True, False, and many more.

In [2]:
a=45

if a>60:
    print("a is greater than 50")
elif a<50:
    print("a is less than 50")
else:
    print("what is value of a")

a is less than 50

In [4]:
a=55

if a>60:
    print("a is greater than 50")
elif a<50:
    print("a is less than 50")
else:
    print("what is value of a")

what is value of a

In [5]:
a=65

if a>60:
    print("a is greater than 50")
elif a<50:
    print("a is less than 50")
else:
    print("what is value of a")

a is greater than 50

Qus 3. Compare and contrast mutable and immutable objects in python with examples.

Mutable objects- Objects that can be modified in memory location.

Immutable objects- Objects that cannot be modified in memory location.

In [6]:
#Example of mutable object

List1 = ["vipul", "harshit", "devesh", "shobhit"]

In [7]:
List1

['vipul', 'harshit', 'devesh', 'shobhit']

In [8]:
List1[0]= "diksha"

In [9]:
List1

['diksha', 'harshit', 'devesh', 'shobhit']

In [19]:
#Example of immutable object

Tuple= (1,2,3)

In [20]:
Tuple[0]=4      #it will not update

TypeError: 'tuple' object does not support item assignment

Qus 4. Discuss teh different types of operator in python and provode examples how they are used.

There are different types of operators in python-

1. Arithmatic operators-

Addition (+)
Subtraction (-)
Multiplication (*) 
Division(/) 
Floor Division(//) 
Modulus(%) 
Exponentiation(**)

In [21]:
5+3

8

In [23]:
5*3

15

Comparison operators-

Equal to(==) ---> 5 == 5 (True)
Not equal to(!=)---> 5 != 3 (True)
Greater than (>) ---> 5 > 3 (True)
Less than(<) ---> 3 < 5 (True)
Greater than or equal to(>=) ---> 5 >= 5 (True)
Less than or equal to (<=) ---> 3 <= 5 (True)

In [29]:
5!=3

True

In [30]:
5!=5

False

Logical operators-

AND, OR, NOT

and (Returns True if both conditions are True) ---> x > 5 and x < 10
or (Returns True if at least one condition is True) ---> x < 5 or x > 10
not (Reverses the result of the condition not) ---> (x == 5)

In [31]:
x=5
x>4

True

In [32]:
x>4 and x<7

True

Bitwise operator- represent binary numbers.

Bitwise AND (&) ---> 5 & 3 = 1
Bitwise OR (|) ---> 5 | 3 = 7
Bitwise XOR (^) ---> 5 ^ 3 = 6
Bitwise NOT (~) ---> ~5 = -6
Left Shift (<<) ---> 5 << 2 = 20
Right Shift (>>) ---> 5 >> 2 = 1

In [34]:
5&3

1

In [35]:
5 | 3

7

In [36]:
~5

-6

Assignment operators-

Assign value(=) ---> x = 5
Add and assign(+=) ---> x += 3 (x = x + 3)
Subtract and assign(+=) ---> x -= 3 (x = x - 3)
Multiply and assign(*=) ---> x *= 3 (x = x * 3)
Divide and assign(/=) ---> x /= 3 (x = x / 3)

In [37]:
x=5

In [38]:
x=x+3

In [39]:
x

8

In [40]:
x+=8

In [41]:
x

16

Membership operators- tests wether a value is present in a sequence or not.

in >> Returns True if value is found in the sequence "a" in apple
not in >> Returns True if value is not found in the sequence "z" not in apple

In [42]:
name= "Vipul Gupta"

In [43]:
name

'Vipul Gupta'

In [45]:
"V" in name

True

In [46]:
"J" not in name

True

Identity operators- Compares the location of 2 objects

is >> returns true if both variables point at same object
is not >> returns true if both variables point at different object

In [47]:
a=5
b=6
a is b

False

In [48]:
a is not b

True

Qus 5. Explain the concept of type casting in python with examples.

The type casting is used to change the format. 

example-

In [56]:
a="5"

In [50]:
type(a)    #it will be string

str

In [51]:
a= int(a)   #it will change to integer

In [52]:
type(a)

int

In [54]:
a= bool(a)    #it will change to boolean

In [55]:
type(a)

bool

In [57]:
a= float(a)

In [59]:
type(a)   #it will change to float

float

Qus 6. How to conditional statements work in python? Illustrate with examples.

Conditional statements helps you to code decision based on some pre-conditions.

There are if, elif, nested if else and else statements

In [60]:
#if statement

x=50
if x>10:
    print("x is greater than 10")    #it will paste the statement

x is greater than 10

In [62]:
#else statement

x=50
if x>60:
    print("x is greater than 60")
else:
    print("x is smaller than 60")    #it will paste the else statement

x is smaller than 60

In [63]:
#elif statement

x=50
if x>60:
    print("x is greater than 60")
elif x<60:
    print("x is smaller than 60")
else:
    print("x is equal to 60")    #it will paste the elif statement

x is smaller than 60

In [66]:
#nested if else

vip=55
age=18

if vip>=18:
    if age<=60:
        print("you are welcome")
    else:
        print("you are not welcome")
else:
    print("you are less than 18")    #it wil paste you are welcome

you are welcome

Qus 7. Describe the different types of loops in python and their use cases with examples.

It allows you to execute a block of code repeatedly. There are 2 types of loops- for and while.